GOOGLE_CLOUD_PROJECT_ID=your-project-id
GCS_BUCKET_NAME=your-unique-bucket-name
TF_VAR_project_id=your-project-id
TF_VAR_bucket_name=your-unique-bucket-name
BIGQUERY_DATASET=cryptopipe_raw_data
BIGQUERY_TABLE_NAME=top_crypto_prices